@model IEnumerable<Projetos_CGTI.Models.EditarUsuarioViewModel>

<div class="table-responsive">
    <div class="row col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>@Html.DisplayNameFor(model => model.Nome)</th>
                    <th>@Html.DisplayNameFor(model => model.CPF)</th>
                    <th>@Html.DisplayNameFor(model => model.Projeto)</th>
                    <th>@Html.DisplayNameFor(model => model.Veiculo)</th>
                    <th>@Html.DisplayNameFor(model => model.Cargo)</th>
                    <th>@Html.DisplayNameFor(model => model.Endereco)</th>
                    <th>Opções</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.CPF)</td>
                        <td>@Html.DisplayFor(modelItem => item.Projeto)</td>
                        <td>@Html.DisplayFor(modelItem => item.Veiculo)</td>
                        <td>@Html.DisplayFor(modelItem => item.Cargo)</td>
                        <td>@Html.DisplayFor(modelItem => item.Endereco)</td>
                        <td>

                            @Html.ActionLink("Editar", "Edit", new { item.id }) |
                            @Html.ActionLink("Apagar", "Delete", new { id = item.id })
                        </td>
                    </tr>
                }
            </thead>
        </table>
    </div>
</div>
