@model IEnumerable<Projetos_CGTI.Models.SalvarDespesaVewModel>

@{
    Layout = null;
}

<div class="table-responsive">
    <div class="row col-md-12">
        <table class="table table-bordered">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Data</th>
                    <th>KM</th>
                    <th>Origem</th>
                    <th>Destino</th>
                    <th>Locomoção/KM</th>
                    <th>Descrição</th>
                    <th>Alimentação</th>
                    <th>Estacionamento</th>
                    <th>Pedagio</th>
                    <th>Serv. Terceiros</th>
                    <th>Material</th>
                    <th>Diverços</th>
                    <th>Obs</th>
                </tr>

                @*@foreach (var item in Model)
                    {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id_Usuario)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Datalanca)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.km)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Origem)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Destino)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LocomocaoKm)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TrocaRota)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descricao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Alimentacao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Estacionamento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Pedagio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ServicoTerceiros)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Materiais)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Diversos)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Obs)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                </td>
                            </tr>
                        }*@
            </thead>
        </table>
        <
    </div>>
    <
</div>>